[submodule "wiki-repo"]
	path = wiki-repo
	url = https://github.com/3dgeo-heidelberg/helios.wiki.git
[submodule "wiki-repo/helios.wiki"]
	path = wiki-repo/helios.wiki
	url = https://github.com/3dgeo-heidelberg/helios.wiki.git
