name: helios-dev
channels:
  - conda-forge
dependencies:
  # These are the dependencies that are also formulated on the feedstock
  - armadillo
  - backports.strenum
  - click
  - click-option-group
  - blas
  - glm
  - importlib_resources
  - lapack
  - laspy
  - lastools >=2.0.4
  - libboost-devel
  - libgdal
  - matplotlib-base
  - numpydantic
  - pint
  - pip
  - pybind11
  - pydantic
  - python
  - scikit-build-core
  - setuptools_scm
  - tinyxml2
  - xmlschema
  - zlib
  # These are additional ones only used in development builds
  - pcl
  # The following packages are not dependencies, but required
  # for development workflows e.g. local testing
  - doxygen
  - ipykernel
  - mkdocs <1.6
  - mkdocs-jupyter
  - mkdocs-material
  - mkdoxy
  - pytest
  - laspy
  - lazrs-python
  - pandas
  - scipy
  - pooch
  - ninja
  - pytest-cov
  - catch2
