name: Build + Test

on:
  push:
    branches:
      - main
      - dev
      - alpha-dev
  pull_request:
    branches:
      - main
      - dev
      - alpha-dev
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    name: Testing on ${{ matrix.os }} with Python ${{ matrix.python }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python:
          - "3.8"
          - "3.12"
    
    defaults:
      run:
        # Conda requires a login shell in order to work properly
        shell: bash -l {0}  
    
    steps:
      - uses: actions/checkout@v4

      - name: Install Git
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install git

      - name: Create Helios dev environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          auto-activate-base: false
          activate-environment: helios-dev
          environment-file: environment-dev.yml
          python-version: ${{ matrix.python }}

      - name: Install Helios
        run: |
          python -m pip install -v .
      
      - name: Run tests
        if: runner.os != 'macOS' 
         # Disable MacOS for now - we do not yet officially support it and we need to invest a bit
          # more efforts into investigating broken LAZ files written by Helios on MacOS.
          # - macos-latest
        run: |
          python -m pytest -m exe
          python -m pytest -m pyh
