name: CMake

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Update package lists
      run: sudo apt update    
      
    - name: Install required packages
      run: sudo apt-get install -y cmake libboost-dev libboost-system-dev libboost-thread-dev libboost-regex-dev libboost-filesystem-dev libboost-iostreams-dev libgdal-dev libglm-dev zip unzip xz-utils
      
    - name: Download armadillo
      run: mkdir armadillo && cd armadillo && wget -O armadillo.tar.xz http://sourceforge.net/projects/arma/files/armadillo-10.6.2.tar.xz && tar xf armadillo.tar.xz && cd ..
    - name: Install armadillo
      run: ./configure && make && sudo make install
      working-directory: armadillo/armadillo-10.6.2

    - name: Cache boost and lastools
      id: cache-boost-lastools
      uses: actions/cache@v2
      with:
        path: |
          ${{github.workspace}}/lib
        key: ${{ runner.os }}-boost.1.71-lastools-latest
   
    - name: Download and install Boost
      if: steps.cache-boost-lastools.outputs.cache-hit != 'true'
      # You may pin to the exact commit or the version.
      # uses: MarkusJx/install-boost@072e2dd3b37f8652cda1b00bcaca9bcfe06b7278
      uses: MarkusJx/install-boost@v1.0.1
      with:
        # The boost version to install, e.g. "1.73.0"
        boost_version: 1.71.0
        # The platform version boost was compiled on, e.g. "18.04". May only be used on linux
        platform_version: 18.04
        boost_install_dir: ${{github.workspace}}/lib
   
    - name: Download and install LASTools
      if: steps.cache-boost-lastools.outputs.cache-hit != 'true'
      run: wget -O LAStools.zip http://lastools.github.io/download/LAStools.zip
    - name: Unzip LAStools
      if: steps.cache-boost-lastools.outputs.cache-hit != 'true'
      run: unzip LAStools.zip -d ${{github.workspace}}/lib
    - name: Build LAStools
      if: steps.cache-boost-lastools.outputs.cache-hit != 'true'
      working-directory: ${{github.workspace}}/lib/LAStools
      run: cmake . && make

    - name: Python Libraries
      run: sudo apt-get install -y libpython3-dev

      
    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_RUNTIME_OUTPUT_DIRECTORY:STRING=${{github.workspace}}/build

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
      
    - name: ls
      working-directory: ${{github.workspace}}
      run: ls -al .
      
    - name: Test
      working-directory: ${{github.workspace}}
      # Execute tests defined by the CMake configuration.  
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ${{github.workspace}}/build/helios --test

    - name: Save compiled executable
      uses: actions/upload-artifact@v2
      with:
          name: linux-executable
          path: ${{github.workspace}}/build/helios*
